header {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.main {
  display: flex;
  justify-content: space-between;
}

#order-list {
  font-size: 1.2em;
}

.ice-cream-order {
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}
